---
import Layout from '../layouts/Layout.astro'
---


<Layout>

  <section class="grid grid-cols-6 grid-rows-6 gap-4 text-white pl-12 pr-12 pt-4">
    <div class="col-span-3 flex justify-center bg-gray-800 items-center rounded-2xl">
      <h1 class="text-4xl">Experiencia Laboral</h1>
    </div>
    <div class="col-span-3 col-start-4 flex justify-center p-6 bg-gray-800 rounded-2xl">
      <h1 class="text-4xl">Skills</h1>
    </div>
    <div class="col-span-3 row-span-5 row-start-2 p-8 bg-gray-800 rounded-2xl">
      <h2>2022 - 2023</h2>
    </div>
    <div class="col-span-3 row-span-5 col-start-4 row-start-2 bg-gray-800 rounded-2xl">

    </div>
  </section>
    
</Layout>