---
import Layout from '../layouts/Layout.astro';
import JobCard from '../components/JobCard.astro';
import Skills from '../components/Skills.astro';
---

<Layout>
	<section class=" min-h-screen transition-all duration-500 ease-in-out scale-95 md:opacity-100 md:scale-100 flex flex-col gap-4 lg:gap-8  p-6 pt-4  lg:grid lg:grid-cols-6 lg:grid-rows-11 lg:p-12 lg:pt-4 text-container overflow-hidden max-w-screen-md lg:max-w-screen-2xl mx-auto">
    
      <div class="col-span-6 flex justify-center text-3xl md:text-6xl animate-slide-left duration-300 transition-all ease-in-out ">
        <h1>Experiencia Laboral</h1>
      </div>
      <div class="col-span-6 row-span-5 row-start-2 m-4 grid lg:grid-cols-3 ">
       <JobCard
       company='Honeywell, Chihuahua'
       role='Creador Multimedia'
       period='marzo de 2022 - agosto de 2023'
       tasks={['Captura de foto y video','Edici贸n de imagen y video','Creaci贸n de comunicados','Supervisi贸n de los canales de comunicaci贸n']}
       classProp="animate-rotate-y delay-200 hover:scale-102 transform  duration-200"
       />
       
      </div>
      <div class="col-span-6 row-start-7 flex justify-center text-3xl md:text-6xl animate-slide-right delay-500 duration-300 transition-all ease-in-out">
        <h1>Skills</h1>
      </div>
      <div class="col-span-6 row-span-4 row-start-8 pt-4 flex justify-center">
        <ul class="grid grid-cols-2 md:grid-cols-4 gap-x-10 gap-y-2 text-center text-lg md:text-2xl items-center">
          <Skills
          skills={[
            'Ingles',
            'Photoshop',
            'After Effects',
            'Premier Pro',
            'Davinci Resolve',
            'Audition',
            'Lightroom',
            'Ilustrator',
            'InDesign',
            'Javascript',
            'Python',
            'Desarrollo Web'
          ]}
          
          />
     
        </ul>
      </div>

	</section>
    
</Layout>