<footer class="bg-gradient-to-b from-transparent to-background font-title text-container text-center p-5 footer">
  <p class="font-semibold text-xl">Juan Carlos Wong Reyes</p>
  <p class="text-lg"><i class="fa-regular fa-copyright mr-2 "></i>{new Date().getFullYear()} - Todos los derechos reservados</p>
</footer>